apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: kafka-pool
  namespace: data
  labels:
    strimzi.io/cluster: kafka
spec:
  replicas: 3 # DEV: 1 | PROD: >=3
  roles:
    - controller
    - broker
  storage:
    type: ephemeral
